# Pip requirements' file for the L3AA1 project
# author: yann

nltk==3.5
pandas==1.2.3
selenium==3.141.0
deep_translator==1.4.1
html5lib==1.1
requests==2.25.1
tweepy==3.10.0
pytest==6.2.2
googletrans==3.1.0a0
matplotlib==3.3.4
numpy==1.20.1
beautifulsoup4==4.9.3
PyQt5 # installs any version as no version is the same depending on the OS..., if there is a problem, please specify a version
scikit_learn==0.24.1
IMDbPY==2020.9.25
wordcloud==1.8.1
webdriver-manager==3.4.0
scipy==1.6.2